*, ::before, ::after {
    box-sizing: inherit;
}
/*h1, h2, h3, h4, h5, h6 {*/
/*    margin: 0 0 10px;*/
/*    font-weight: 600;*/
/*    color: #ccd6f6;*/
/*    line-height: 1.1;*/
/*}*/
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #0a192f;
    color: #8892b0;
    font-size: 16px;
    line-height: 1.3;
}
a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
li {
    text-align: -webkit-match-parent;
}
p {
    margin: 0 0 15px;
}
p > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    color: #64ffda;
}
nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
    margin: 0 5px;
    position: relative;
    counter-increment: item 1;
    font-size: 13px;
}
nav ul li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: #64ffda;
    font-size: 12px;
    text-align: right;
}
section {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1050px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, .2);
}
button {
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
}
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(10px);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}
.navbar {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: #ccd6f6;
    counter-reset: item 0;
    z-index: 12;
    padding: 0 50px;
}
.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapse {
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.collapse .resume-button {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-left: 15px;
    font-size: 13px;
}
.container {
    padding: 0 50px;
    counter-reset: section 0;
}
#index {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}
.row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 50px;
}
.row .avatar {
    max-width: 200px;
}
.row .avatar img {
    width: 100%;
    border-radius: 10px;
}
.row .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.row .desc h1 {
    margin: 0 0 30px 0;
    font-size: 50px;
    color: #ccd6f6;
    font-weight: normal;
}
.row .desc .brief-desc {
    font-size: 20px;
    margin: 0 0 30px 0;
    line-height: 30px;
}
.desc .icon-list a i {
    font-size: 25px;
    margin-right: 10px;
}
.index hr {
    width: 100%;
}
.read-more-wrapper {
    text-align: center;
}
.read-more-btn {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 20px;
}
.desc ul.skills-list {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 0 12.5px;
    padding: 0;
    margin: 20px 0 0;
    overflow: hidden;
    list-style: none;
}
.desc ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    /*font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;*/
    font-size: 12px;
}
.desc ul.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0;
    color: #64ffda;
    font-size: 14px;
    line-height: 15px;
}

.about {
    max-height: 900px;
}
.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, 30px);
    white-space: nowrap;
    color: #ccd6f6;
}
.numbered-heading::before {
    position: relative;
    bottom: -3px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 400;
}
.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    top: 2px;
    margin-left: 20px;
    background-color: #233554;
    width: 100%;
}
.exp .detail {
    display: flex;
}
.jobs-list {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0;
    margin: 0;
    list-style: none;
}
.jobs-list .btn {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    border-left: 2px solid #233554;
    background-color: transparent;
    color: #8892b0;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
}
.jobs-list .desc {
    position: relative;
    width: 100%;
    margin-left: 20px;
}
.jobs-list .desc .detail {
    width: 100%;
    height: auto;
    padding: 10px 5px;
}
@media (max-width: 1080px) {
    .navbar {
        padding: 0 40px;
    }
}
@media (max-width: 589px) {
    .collapse {
        display: none !important;
    }
    .row {
        display: block !important;
        text-align: center;
    }
    .row .desc {
        display: block !important;
    }
    .row .avatar img {
        width: auto;
    }
    .row .avatar {
        max-width: none;
    }
    #index {
        padding: 100px 0;
    }
    .desc ul.skills-list {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        gap: 0 10px;
    }
}
@media (max-width: 340px) {
    .desc ul.skills-list {
        display: block;
    }
}